<h1>Matching Locations</h1>
<p>Here are the results that match:</p>

<ul>
  <% @locations.each do |location| %>
    <li>
      <%= location.display_name %> <%= button_to 'Add to My List', locations_path, params: { location: loc_to_hash(location) } %>
    </li>
  <% end %>
</ul>
